.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 6rem;
  min-height: 100vh;
}

.backHomeButton {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.HStack {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 16px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.31);
}

.detailImage {
  border-radius: 10px;
}
