.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 6rem;
  min-height: 100vh;
}

.backHomeButton {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.HStack {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
